.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  width: 30%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.fields {
  margin: 0rem 0rem 1rem 0rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 1.2rem;
  width: 100%;
  border-color: darkred;
}

.btn {
  padding: 1rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .form {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .form {
    width: 80%;
  }
}
